<%- include("partial/header") -%>

    <main>
        <div class="main-content-container">
            <div class="main-content">
                <h1>This is the Sky Cast REST APIs Backend Server</h1>
                <p>&#10146; POST request and access key is required to access the weather json data.</p>
                <p>&#10146; To check out sample return JSON data format, please visit this <a href="https://sky-cast-backend-b4e180440fb6.herokuapp.com/sample">link</a>.</p>
                <p>&#10146; To visit Sky Cast main page please hit the button below:</p>
                <div class="button-container">
                    <div class="button">
                        <a href="https://sky-cast-854836ef4892.herokuapp.com/">
                            Sky Cast Main Page
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("partial/footer") -%>