<footer>
    <div class="footer">
      <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com">
            <!-- Attribution available on public/partial/header.ejs -->
            <img src="/images/facebook.png" alt="Facebook Icon" class="social-icon-img-size">
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://twitter.com/">
            <!-- Attribution available on public/partial/header.ejs -->
            <img src="/images/twitter.png" alt="Facebook Icon" class="social-icon-img-size">
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/">
            <!-- Attribution available on public/partial/header.ejs -->
            <img src="/images/linkedin.png" alt="Facebook Icon" class="social-icon-img-size">
          </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/">
            <!-- Attribution available on public/partial/header.ejs -->
            <img src="/images/instagram.png" alt="Facebook Icon" class="social-icon-img-size">
          </a></li>
      </ul>
      <p>&copy;<%= new Date().getFullYear() %> Sky Cast | All Rights Reserved</p>
    </div>
  </footer>
  </body>
  
  </html>