<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sky Cast Backend</title>

    <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons" style="display: none;">Facebook icons
        created by Freepik -
        Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons" style="display: none;">Instagram
        icons created by Freepik -
        Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons" style="display: none;">Linkedin icons
        created by riajulislam -
        Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons" style="display: none;">Twitter icons
        created by Pixel perfect -
        Flaticon</a>

    <a href="https://www.flaticon.com/free-icons/weather" title="weather icons" style="display: none;">Weather icons created by Freepik - Flaticon</a>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">

    <link href="./css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="app-logo-container">
            <div class="app-logo-img-container">
                <img src="./images/app_logo.png" alt="App Logo" class="app-logo-img" />
            </div>
            <p class="app-logo-text">Sky Cast</p>
        </div>>
    </div>